<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All books</h1>
    <div>
        <div>
            <a href="/">
                <button>Home Page</button>
            </a>
        </div>
        <div>
            <a href="/books/new">
                <button>New Book</button>
            </a>
        </div>
        
    </div>
    <div style="padding: 2rem; margin: 2rem 0; ">
        <% books.forEach(book => { %>
            <%=console.log(book)%>
            <div style="border: 2px solid black; background-color: rgb(166, 186, 223); padding: 2rem;">
                <h2>Title : <%= book.title %></h2>
                <div style="margin: auto 0; width: 50%;">

                    <img styl e="width: 100%; " src="/uploads/<%= book['cover-image'] %>" alt="">
                </div>
                <a href="/books/<%= book.id %>">
                    <button>Learn More</button>
                </a>
            </div>
        <% }) %>
    </div>
</body>
</html>