<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <h1>All Articles</h1>
    <% articles.forEach(article => { %>
        <div class="article">
            <h2><%= article.title %></h2>
            <a href="/articles/<%= article.id %>">
                <button>Learn More</button>
            </a>
        </div>
    <% }) %>
    <div>
        <a href="/articles/new">
            <button>Create Article</button>
        </a>
    </div>
    <div>
        <a href="/">
            <button>
                Home Page
            </button>
        </a>
    </div>
</body>
</html>